
version: "3"

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 80:80
    volumes:
      - ./nginx/letsencript.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/letsencript:/usr/share/nginx/html
